$red-color: red;

.card-course-item {
    margin-top: 16px;
}

.learn-now {
    background-color: green;
    border-radius: 7px;
}

.col-lg-3{
    background-color: aliceblue;
    padding: 20px 10px;
}
